// TIPOGRAFY
$Lobster: "Lobster";
$Karla: "Karla";
// COLORS
$primary-color: #FFF278;
$secundary-color: #F2B705;
$tertiary-color: #80B829;
$quarter-color: #2C7F23;
$black: #2C2221;
$grey: #F2F2F2;
$white: #FFFF;