<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 
    <main id="index">
        <section id="banner">
            <h1>Bienvenidos</h1>
            <article><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-3.82,32.04 C149.99,150.22 296.40,-1.55 501.26,93.32 L500.00,150.22 L0.00,150.22 Z" style="stroke: none; fill: #ffff;"></path></svg></article>
        </section>
        <section id="filters">
            <a href="">
                <p>All</p>
            </a><a href="">
                <p>Frutos Secos</p>
            </a><a href="">
                <p>Alfajores</p>
            </a><a href="">
                <p>Condimentos</p>
            </a><a href="">
                <p>Otros</p>
            </a>
        </section>
        <section id="products">
            <h1>Recomendados para ti</h1>
                <article class="slider">
                    <article class="product">
                        <a href="/detail">
                        <figure>
                            <img src=" /assets/img/Pasa_de_uva-removebg-preview.png">
                        </figure>
                        <section id="info">
                            <h2>Pasa de Uva</h2>
                            <h3>$350</h3>
                        </section>
                        </a>
                    </article>
                    <article class="product">
                        <a href="/detail">
                        <figure>
                            <img src=" /assets/img/Frutos_secos-removebg-preview.png">
                        </figure>
                        <section id="info">
                            <h2>Pasa de Uva</h2>
                            <h3>$350</h3>
                        </section>
                        </a>
                    </article>
                    <article class="product">
                        <a href="/detail">
                        <figure>
                            <img src=" /assets/img/Frutos_secos-removebg-preview.png">
                        </figure>
                        <section id="info">
                            <h2>Pasa de Uva</h2>
                            <h3>$350</h3>
                        </section>
                        </a>
                    </article>
                    <article class="product">
                        <a href="/detail">
                        <figure>
                            <img src=" /assets/img/Pasa_de_uva-removebg-preview.png">
                        </figure>
                        <section id="info">
                            <h2>Pasa de Uva</h2>
                            <h3>$350</h3>
                        </section>
                        </a>
                    </article>
                    <article class="product">
                        <a href="/detail">
                        <figure>
                            <img src=" /assets/img/Avena-removebg-preview.png">
                        </figure>
                        <section id="info">
                            <h2>Pasa de Uva</h2>
                            <h3>$350</h3>
                        </section>
                        </a>
                    </article>
                    <article class="product">
                        <a href="/detail">
                        <figure>
                            <img src=" /assets/img/Pasa_de_uva-removebg-preview.png">
                        </figure>
                        <section id="info">
                            <h2>Pasa de Uva</h2>
                            <h3>$350</h3>
                        </section>
                        </a>
                    </article>
                    <article class="product">
                        <a href="/detail">
                        <figure>
                            <img src=" /assets/img/Avena-removebg-preview.png">
                        </figure>
                        <section id="info">
                            <h2>Pasa de Uva</h2>
                            <h3>$350</h3>
                        </section>
                        </a>
                    </article>
                </article>
            <h1>Ofertas</h1>
            <article class="slider">
                <article class="product">
                    <a href="/detail">
                    <figure>
                        <img src=" /assets/img/Pasa_de_uva-removebg-preview.png">
                    </figure>
                    <section id="info">
                        <h2>Pasa de Uva</h2>
                        <h3>$350</h3>
                    </section>
                    </a>
                </article>
                <article class="product">
                    <a href="/detail">
                    <figure>
                        <img src=" /assets/img/Frutos_secos-removebg-preview.png">
                    </figure>
                    <section id="info">
                        <h2>Pasa de Uva</h2>
                        <h3>$350</h3>
                    </section>
                    </a>
                </article>
                <article class="product">
                    <a href="/detail">
                    <figure>
                        <img src=" /assets/img/Frutos_secos-removebg-preview.png">
                    </figure>
                    <section id="info">
                        <h2>Pasa de Uva</h2>
                        <h3>$350</h3>
                    </section>
                    </a>
                </article>
                <article class="product">
                    <a href="/detail">
                    <figure>
                        <img src=" /assets/img/Pasa_de_uva-removebg-preview.png">
                    </figure>
                    <section id="info">
                        <h2>Pasa de Uva</h2>
                        <h3>$350</h3>
                    </section>
                    </a>
                </article>
                <article class="product">
                    <a href="/detail">
                    <figure>
                        <img src=" /assets/img/Avena-removebg-preview.png">
                    </figure>
                    <section id="info">
                        <h2>Pasa de Uva</h2>
                        <h3>$350</h3>
                    </section>
                    </a>
                </article>
                <article class="product">
                    <a href="/detail">
                    <figure>
                        <img src=" /assets/img/Pasa_de_uva-removebg-preview.png">
                    </figure>
                    <section id="info">
                        <h2>Pasa de Uva</h2>
                        <h3>$350</h3>
                    </section>
                    </a>
                </article>
                <article class="product">
                    <a href="/detail">
                    <figure>
                        <img src=" /assets/img/Avena-removebg-preview.png">
                    </figure>
                    <section id="info">
                        <h2>Pasa de Uva</h2>
                        <h3>$350</h3>
                    </section>
                    </a>
                </article>
            </article>
        </section>
        <%- include("partials/bar.ejs") %> 
    </main>
    <%- include("partials/footer.ejs") %> 
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/635914e016.js" crossorigin="anonymous"></script>
    <script src=" /js/slider.js"></script>
    <script src=" /js/styles.js"></script>
</body>
</html>