<section id="bar">
    <nav>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i></a></li>
            <li><a href="/register"><i class="fas fa-user"></i></a></li>
            <li><a href="/create"><i class="fas fa-plus-square"></i></a></li>
            <li><a href="/contact"><i class="fas fa-comment-alt"></i></a></li>
            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
</section>