<footer>
    <article>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
    </article>
    <article>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fas fa-handshake"></i>
    </article>
    <article>
        <form>
            <label>
                <input type="text"><button><i class="fas fa-share-square"></i></button>
            </label>
        </form>
    </article>
    <p><i class="fas fa-copyright"></i><span>Frut-Box</span>we do the rights</p>
</footer>