<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
    <main id="contact">
        <article>
            <figure>
                <img src="/assets/img/Logo frut-box.png" alt="">
            </figure>
            <form>
                <h1>Mensaje</h1>
                <label><i class="fas fa-user"></i><input type="text"></label>
                <label><i class="fas fa-envelope"></i><input type="email"></label>
                <textarea></textarea>
                <section id="buttons">
                    <button type="submit">Enviar</button>
                </section>
            </form>
        </article>
        <%- include("../partials/bar") %> 
    </main>
    <%- include("../partials/footer") %> 
    <script src="https://kit.fontawesome.com/635914e016.js" crossorigin="anonymous"></script>
    <script src=" /js/styles.js"></script>
</body>
</html>